# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
project/HelloSud-iOS/HelloSud-iOS.xcodeproj/xcuserdata

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
project/HelloSud-iOS/build/
project/HelloSud-iOS/DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
project/Pods/


workspace.xml
project/.idea/.gitignore
project/.idea/project.iml
project/.idea/vcs.xml
project/.idea/.name
project/.idea/misc.xml
project/.idea/project2.iml
project/.idea/xcode.xml
project/HelloSud-iOS.xcodeproj/xcuserdata/kaniel.xcuserdatad/xcschemes/HelloSud-iOS.xcscheme
project/HelloSud-iOS.xcodeproj/xcuserdata/kaniel.xcuserdatad/xcschemes/xcschememanagement.plist
project/HelloSud-iOS.xcworkspace/xcuserdata/kaniel.xcuserdatad/xcschemes/xcschememanagement.plist
